<div class="d-grid gap-2 p-1 model-content">


    <select class="form-select" s-value="$data.selectType" onchange="this.typeChange(value)">
        <For each="$data.modelTypes" item="item" index="index">
            <option s-value="item" s-selected="$data.selectType == item">{{item}}</option>
        </For>
    </select>
    <div class="container text-center model-list">
        <div class="row row-cols-auto">
            <For each="$data.modelList" item="item" index="index">
                <div class="col p-1">
                    <div class="p-0">
                        <img s-src="item.image" onclick="this.selectModel(item)" s-title="item.name">
                        <div class="text-center title text-truncate" s-title="item.name">
                            <span>{{item.name}}</span>
                        </div>
                    </div>
                </div>
            </For>
        </div>
    </div>
    <form class="p-1 overflow-hidden">
        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">放置分组</label>
            <div class="col-sm-9">
                <div class="treeSelect"></div>
            </div>
        </div>
        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">名称</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm modelOptions" s-value="$data.currentModel.name"
                    onchange="$data.currentModel.name=value">
            </div>
        </div>
        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">链接类型</label>
            <div class="col-sm-9">
                <select class="form-select form-select-sm modelOptions" s-value="$data.currentModel.linkType"
                    onchange="this.linkTypeChange(value)">
                    <option value="url" s-selected="$data.currentModel.linkType=='url'">URL地址</option>
                    <option value="panorama" s-selected="$data.currentModel.linkType=='panorama'">全景图片地址</option>
                    <option value="flv" s-selected="$data.currentModel.linkType=='flv'">flv视频流</option>
                </select>
            </div>
        </div>
        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">链接</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm modelOptions" s-value="$data.currentModel.link"
                    onchange="$data.currentModel.link=value">
            </div>
        </div>
        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">缩放</label>
            <div class="col-sm-9 pt-1">
                <input type="range" class="form-range" min="0.1" max="10" step="0.1"
                    s-value="$data.currentModel.scale" oninput="this.scaleChange(value)">
            </div>
        </div>
        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">旋转</label>
            <div class="col-sm-9 pt-1">
                <input type="range" class="form-range modelOptions" min="0" max="360" step="1"
                    s-value="$data.currentModel.rotation" oninput="this.rotationChange(value)">
            </div>
        </div>
        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">动画</label>
            <div class="col-sm-2 form-switch pt-1">
                <input type="checkbox" class="form-check-input modelOptions" s-checked="$data.currentModel.animation"
                    onchange="this.animationChange(event)">
            </div>
        </div>

        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">绘制方式</label>
            <div class="col-sm-9 pt-1">
                <div class="form-check inline-block">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1" onclick="this.changeDrawType(0)">
                        单个
                    </label>
                </div>
                <div class="form-check inline-block">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2" onclick="this.changeDrawType(1)">
                        连续
                    </label>
                </div>
                <div class="form-check inline-block">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3" onclick="this.changeDrawType(2)">
                        画线
                    </label>
                </div>
                <div class="form-check inline-block">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                    <label class="form-check-label" for="flexRadioDefault4" onclick="this.changeDrawType(3)">
                        画面
                    </label>
                </div>
            </div>
        </div>

        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">绘制间距</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" s-value="$data.spacing"
                    onchange="$data.spacing=value">
            </div>
        </div>

        <div class="mb-2 row">
            <label for="url" class="col-sm-3 col-form-label">操作</label>
            <div class="col-sm-9 pt-1">
                <!-- <button type="button" class="btn btn-primary btn-sm"
                    onclick="this.selectModelInRect()">框选</button> -->
                <button type="button" class="btn btn-primary btn-sm modelOptions"
                    onclick="this.changePosition()">移动</button>
                <button type="button" class="btn btn-primary btn-sm modelOptions" onclick="this.saveModel()">保存</button>
                <button type="button" class="btn btn-danger btn-sm modelOptions"
                    onclick="this.deleteModel()">删除</button>
                <button type="button" class="btn btn-warning btn-sm modelOptions" onclick="this.cancel()">取消</button>
            </div>
        </div>
    </form>

</div>