czm-record-screen {
    .record-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .toolbar {
        display: flex;
        gap: 5px;
        background-color: #f0f0f0;
        padding: 5px;
        border-radius: 5px;
    }

    .toolbar-button { // 添加特定类名
        padding: 5px 10px; // 调整内边距以适应文字说明
        font-size: 14px;
        cursor: pointer;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px; // 调整边框半径
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px; // 添加间距以分隔图标和文字
    }

    .toolbar-button:disabled { // 添加特定类名
        cursor: not-allowed;
        opacity: 0.5;
    }

    .toolbar-button i { // 添加特定类名
        font-size: 16px; // 调整字体大小
    }

    .icon-start::before {
        content: ""; // 移除自定义图标
    }

    .icon-stop::before {
        content: ""; // 移除自定义图标
    }

    .icon-download::before {
        content: ""; // 移除自定义图标
    }
}